# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Game
saves/*.json

# Package Files #

*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle/
.gradle/7.4/executionHistory/executionHistory.bin
.gradle/7.4/executionHistory/executionHistory.lock
.gradle/7.4/fileHashes/fileHashes.bin
.gradle/7.4/fileHashes/fileHashes.lock
.gradle/7.4/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.idea/workspace.xml
build/tmp/compileJava/previous-compilation-data.bin
.gradle/7.6/executionHistory/executionHistory.bin
.gradle/7.6/executionHistory/executionHistory.lock
.gradle/7.6/fileHashes/fileHashes.bin
.gradle/7.6/fileHashes/fileHashes.lock
.gradle/7.6/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.idea/gradle.xml
build/tmp/compileJava/previous-compilation-data.bin
.gradle/7.6/executionHistory/executionHistory.lock
.gradle/7.6/executionHistory/executionHistory.bin
.gradle/7.6/fileHashes/fileHashes.lock
.gradle/7.6/fileHashes/fileHashes.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
build/tmp/compileJava/previous-compilation-data.bin
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.6/fileHashes/resourceHashesCache.bin
.gradle/7.6/fileHashes/fileHashes.lock
.gradle/7.6/fileHashes/fileHashes.bin
.gradle/7.6/executionHistory/executionHistory.lock
.gradle/7.6/executionHistory/executionHistory.bin
build/tmp/compileJava/previous-compilation-data.bin
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.6/fileHashes/resourceHashesCache.bin
.gradle/7.6/fileHashes/fileHashes.lock
.gradle/7.6/fileHashes/fileHashes.bin
.gradle/7.6/executionHistory/executionHistory.lock
.gradle/7.6/executionHistory/executionHistory.bin
build/tmp/compileJava/compileTransaction/stash-dir/Worker.class.uniqueId26
build/tmp/compileJava/compileTransaction/stash-dir/Worker.class.uniqueId19
build/tmp/compileJava/compileTransaction/stash-dir/Window.class.uniqueId7
build/tmp/compileJava/compileTransaction/stash-dir/Window.class.uniqueId28
build/tmp/compileJava/compileTransaction/stash-dir/Unit.class.uniqueId16
build/tmp/compileJava/compileTransaction/stash-dir/Unit.class.uniqueId11
build/tmp/compileJava/compileTransaction/stash-dir/UIState.class.uniqueId9
build/tmp/compileJava/compileTransaction/stash-dir/UIState.class.uniqueId18
build/tmp/compileJava/compileTransaction/stash-dir/Soldier.class.uniqueId3
build/tmp/compileJava/compileTransaction/stash-dir/Soldier.class.uniqueId12
build/tmp/compileJava/compileTransaction/stash-dir/ServerLobbyUIState.class.uniqueId8
build/tmp/compileJava/compileTransaction/stash-dir/ServerLobbyUIState.class.uniqueId15
build/tmp/compileJava/compileTransaction/stash-dir/Player.class.uniqueId2
build/tmp/compileJava/compileTransaction/stash-dir/Player.class.uniqueId11
build/tmp/compileJava/compileTransaction/stash-dir/OnlineUIState.class.uniqueId8
build/tmp/compileJava/compileTransaction/stash-dir/OnlineUIState.class.uniqueId2
build/tmp/compileJava/compileTransaction/stash-dir/NewGameUIState.class.uniqueId25
build/tmp/compileJava/compileTransaction/stash-dir/NewGameUIState.class.uniqueId1
build/tmp/compileJava/compileTransaction/stash-dir/Menu.class.uniqueId5
build/tmp/compileJava/compileTransaction/stash-dir/Menu.class.uniqueId27
build/tmp/compileJava/compileTransaction/stash-dir/Map.class.uniqueId19
build/tmp/compileJava/compileTransaction/stash-dir/Map.class.uniqueId12
build/tmp/compileJava/compileTransaction/stash-dir/MainMenuUIState.class.uniqueId7
build/tmp/compileJava/compileTransaction/stash-dir/MainMenuUIState.class.uniqueId29
build/tmp/compileJava/compileTransaction/stash-dir/LoadingUIState.class.uniqueId16
build/tmp/compileJava/compileTransaction/stash-dir/LoadingUIState.class.uniqueId14
build/tmp/compileJava/compileTransaction/stash-dir/Label.class.uniqueId20
build/tmp/compileJava/compileTransaction/stash-dir/Label.class.uniqueId10
build/tmp/compileJava/compileTransaction/stash-dir/JoinGameUIState.class.uniqueId28
build/tmp/compileJava/compileTransaction/stash-dir/JoinGameUIState.class.uniqueId27
build/tmp/compileJava/compileTransaction/stash-dir/InputBox.class.uniqueId26
build/tmp/compileJava/compileTransaction/stash-dir/InputBox.class.uniqueId0
build/tmp/compileJava/compileTransaction/stash-dir/HUD.class.uniqueId30
build/tmp/compileJava/compileTransaction/stash-dir/HUD.class.uniqueId23
build/tmp/compileJava/compileTransaction/stash-dir/HostGameUIState.class.uniqueId9
build/tmp/compileJava/compileTransaction/stash-dir/HostGameUIState.class.uniqueId13
build/tmp/compileJava/compileTransaction/stash-dir/GraphicManager.class.uniqueId24
build/tmp/compileJava/compileTransaction/stash-dir/GraphicManager.class.uniqueId13
build/tmp/compileJava/compileTransaction/stash-dir/Graphic.class.uniqueId4
build/tmp/compileJava/compileTransaction/stash-dir/Graphic.class.uniqueId18
build/tmp/compileJava/compileTransaction/stash-dir/GameState.class.uniqueId3
build/tmp/compileJava/compileTransaction/stash-dir/GameState.class.uniqueId0
build/tmp/compileJava/compileTransaction/stash-dir/GameServer.class.uniqueId17
build/tmp/compileJava/compileTransaction/stash-dir/GameServer.class.uniqueId14
build/tmp/compileJava/compileTransaction/stash-dir/GameServer$ClientHandler.class.uniqueId22
build/tmp/compileJava/compileTransaction/stash-dir/GameServer$ClientHandler.class.uniqueId21
build/tmp/compileJava/compileTransaction/stash-dir/GameInstance.class.uniqueId30
build/tmp/compileJava/compileTransaction/stash-dir/GameInstance.class.uniqueId23
build/tmp/compileJava/compileTransaction/stash-dir/Entity.class.uniqueId25
build/tmp/compileJava/compileTransaction/stash-dir/Entity.class.uniqueId24
build/tmp/compileJava/compileTransaction/stash-dir/DebugMenu.class.uniqueId22
build/tmp/compileJava/compileTransaction/stash-dir/DebugMenu.class.uniqueId1
build/tmp/compileJava/compileTransaction/stash-dir/ClickableManager.class.uniqueId29
build/tmp/compileJava/compileTransaction/stash-dir/ClickableManager.class.uniqueId17
build/tmp/compileJava/compileTransaction/stash-dir/ButtonManager.class.uniqueId6
build/tmp/compileJava/compileTransaction/stash-dir/ButtonManager.class.uniqueId4
build/tmp/compileJava/compileTransaction/stash-dir/Button.class.uniqueId6
build/tmp/compileJava/compileTransaction/stash-dir/Button.class.uniqueId20
build/tmp/compileJava/compileTransaction/stash-dir/Building.class.uniqueId5
build/tmp/compileJava/compileTransaction/stash-dir/Building.class.uniqueId15
build/tmp/compileJava/compileTransaction/stash-dir/AI.class.uniqueId21
build/tmp/compileJava/compileTransaction/stash-dir/AI.class.uniqueId10
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.6/fileHashes/resourceHashesCache.bin
.gradle/7.6/fileHashes/fileHashes.lock
.gradle/7.6/fileHashes/fileHashes.bin
.gradle/7.6/executionHistory/executionHistory.lock
.gradle/7.6/executionHistory/executionHistory.bin
.gradle/7.6/dependencies-accessors/dependencies-accessors.lock
.gradle/7.6/checksums/checksums.lock
build/tmp/compileJava/previous-compilation-data.bin
*.uniqueId26
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.6/executionHistory/executionHistory.bin
.gradle/7.6/executionHistory/executionHistory.lock
.gradle/7.6/fileHashes/fileHashes.bin
.gradle/7.6/fileHashes/fileHashes.lock
.gradle/7.6/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
build/tmp/compileJava/compileTransaction/stash-dir/AI.class.uniqueId14
build/tmp/compileJava/compileTransaction/stash-dir/AI.class.uniqueId22
build/tmp/compileJava/compileTransaction/stash-dir/Building.class.uniqueId21
build/tmp/compileJava/compileTransaction/stash-dir/Building.class.uniqueId27
build/tmp/compileJava/compileTransaction/stash-dir/Button.class.uniqueId12
build/tmp/compileJava/compileTransaction/stash-dir/Button.class.uniqueId9
build/tmp/compileJava/compileTransaction/stash-dir/ButtonManager.class.uniqueId13
build/tmp/compileJava/compileTransaction/stash-dir/ButtonManager.class.uniqueId8
build/tmp/compileJava/compileTransaction/stash-dir/ClickableManager.class.uniqueId30
build/tmp/compileJava/compileTransaction/stash-dir/DebugMenu.class.uniqueId33
build/tmp/compileJava/compileTransaction/stash-dir/DebugMenu.class.uniqueId5
build/tmp/compileJava/compileTransaction/stash-dir/Entity.class.uniqueId0
build/tmp/compileJava/compileTransaction/stash-dir/Entity.class.uniqueId20
build/tmp/compileJava/compileTransaction/stash-dir/EntitySelectedHUDState.class.uniqueId21
build/tmp/compileJava/compileTransaction/stash-dir/GameInstance.class.uniqueId16
build/tmp/compileJava/compileTransaction/stash-dir/GameInstance.class.uniqueId25
build/tmp/compileJava/compileTransaction/stash-dir/GameServer$ClientHandler.class.uniqueId1
build/tmp/compileJava/compileTransaction/stash-dir/GameServer$ClientHandler.class.uniqueId16
build/tmp/compileJava/compileTransaction/stash-dir/GameServer.class.uniqueId19
build/tmp/compileJava/compileTransaction/stash-dir/GameServer.class.uniqueId20
build/tmp/compileJava/compileTransaction/stash-dir/GameState.class.uniqueId22
build/tmp/compileJava/compileTransaction/stash-dir/GameState.class.uniqueId7
build/tmp/compileJava/compileTransaction/stash-dir/Graphic.class.uniqueId14
build/tmp/compileJava/compileTransaction/stash-dir/GraphicManager.class.uniqueId17
build/tmp/compileJava/compileTransaction/stash-dir/GraphicManager.class.uniqueId27
build/tmp/compileJava/compileTransaction/stash-dir/HostGameMenuState.class.uniqueId23
build/tmp/compileJava/compileTransaction/stash-dir/HostGameUIState.class.uniqueId23
build/tmp/compileJava/compileTransaction/stash-dir/HUD.class.uniqueId11
build/tmp/compileJava/compileTransaction/stash-dir/HUD.class.uniqueId25
build/tmp/compileJava/compileTransaction/stash-dir/HUDState.class.uniqueId1
build/tmp/compileJava/compileTransaction/stash-dir/inGameStartHUD.class.uniqueId28
build/tmp/compileJava/compileTransaction/stash-dir/InputBox.class.uniqueId12
build/tmp/compileJava/compileTransaction/stash-dir/InputBox.class.uniqueId15
build/tmp/compileJava/compileTransaction/stash-dir/JoinGameMenuState.class.uniqueId3
build/tmp/compileJava/compileTransaction/stash-dir/JoinGameUIState.class.uniqueId4
build/tmp/compileJava/compileTransaction/stash-dir/Label.class.uniqueId7
build/tmp/compileJava/compileTransaction/stash-dir/Label.class.uniqueId9
build/tmp/compileJava/compileTransaction/stash-dir/LoadingMenuState.class.uniqueId8
build/tmp/compileJava/compileTransaction/stash-dir/LoadingUIState.class.uniqueId13
build/tmp/compileJava/compileTransaction/stash-dir/MainMenuMenuState.class.uniqueId10
build/tmp/compileJava/compileTransaction/stash-dir/Map.class.uniqueId11
build/tmp/compileJava/compileTransaction/stash-dir/Menu.class.uniqueId4
build/tmp/compileJava/compileTransaction/stash-dir/Menu.class.uniqueId6
build/tmp/compileJava/compileTransaction/stash-dir/menuHUDState.class.uniqueId18
build/tmp/compileJava/compileTransaction/stash-dir/MenuState.class.uniqueId15
build/tmp/compileJava/compileTransaction/stash-dir/NewGameMenuState.class.uniqueId5
build/tmp/compileJava/compileTransaction/stash-dir/NewGameUIState.class.uniqueId17
build/tmp/compileJava/compileTransaction/stash-dir/OnlineMenuState.class.uniqueId6
build/tmp/compileJava/compileTransaction/stash-dir/OnlineUIState.class.uniqueId24
build/tmp/compileJava/compileTransaction/stash-dir/Player.class.uniqueId18
build/tmp/compileJava/compileTransaction/stash-dir/ServerLobbyMenuState.class.uniqueId29
build/tmp/compileJava/compileTransaction/stash-dir/ServerLobbyUIState.class.uniqueId2
build/tmp/compileJava/compileTransaction/stash-dir/Soldier.class.uniqueId30
build/tmp/compileJava/compileTransaction/stash-dir/Soldier.class.uniqueId32
build/tmp/compileJava/compileTransaction/stash-dir/UIState.class.uniqueId0
build/tmp/compileJava/compileTransaction/stash-dir/Unit.class.uniqueId24
build/tmp/compileJava/compileTransaction/stash-dir/Unit.class.uniqueId3
build/tmp/compileJava/compileTransaction/stash-dir/Window.class.uniqueId10
build/tmp/compileJava/compileTransaction/stash-dir/Window.class.uniqueId31
build/tmp/compileJava/compileTransaction/stash-dir/Worker.class.uniqueId2
build/tmp/compileJava/compileTransaction/stash-dir/Worker.class.uniqueId28
build/tmp/compileJava/previous-compilation-data.bin
